In [1]:
%%bash
ls data/ml-1m

README
movies.dat
ratings.dat
users.dat

In [2]:
%%bash
head data/ml-1m/movies.dat

1::Toy Story (1995)::Animation|Children's|Comedy
2::Jumanji (1995)::Adventure|Children's|Fantasy
3::Grumpier Old Men (1995)::Comedy|Romance
4::Waiting to Exhale (1995)::Comedy|Drama
5::Father of the Bride Part II (1995)::Comedy
6::Heat (1995)::Action|Crime|Thriller
7::Sabrina (1995)::Comedy|Romance
8::Tom and Huck (1995)::Adventure|Children's
9::Sudden Death (1995)::Action
10::GoldenEye (1995)::Action|Adventure|Thriller

In [20]:
import pandas as pd

In [28]:
path = 'data/ml-1m/'
movies = pd.read_csv(path+'movies.dat', sep='::', encoding="latin")
ratings = pd.read_csv(path+'ratings.dat', sep='::', encoding="latin")
users = pd.read_csv(path+'users.dat', sep='::', encoding="latin")

C:\Users\dinda\AppData\Local\Temp\ipykernel_16764\1990433823.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv(path+'movies.dat', sep='::', encoding="latin")
C:\Users\dinda\AppData\Local\Temp\ipykernel_16764\1990433823.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv(path+'ratings.dat', sep='::', encoding="latin")
C:\Users\dinda\AppData\Local\Temp\ipykernel_16764\1990433823.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_csv(path+'users.dat', sep='::', encoding="latin")

In [30]:
df = pd.merge(pd.merge(ratings, users), movies)
df.head()

,UserID,MovieID,Rating,Timestamp,Gender,Age,Occupation,Zip-code,Title,Genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

In [36]:
df.iloc[100000]

UserID                   4910
MovieID                  2490
Rating                      4
Timestamp           962678960
Gender                      M
Age                        18
Occupation                 12
Zip-code                84041
Title          Payback (1999)
Genres        Action|Thriller
Name: 100000, dtype: object