<a href="https://colab.research.google.com/github/dindadinho93/Python-Exercise/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Count Character Coocurence

In [ ]:
def count_character(s):
  count = {}
  for i in s:
    if i in count:
      count[i] +=1
    else:
      count[i] = 1
  print(count)

word = input('Enter word in String : ')
count_character(word)

Enter word in String : adalah
{'a': 3, 'd': 1, 'l': 1, 'h': 1}

# Palindrome Python

In [ ]:
def palindrome(sentence):
  for i in (",.'?/><}{{}}'"):
    sentence = sentence.replace(i, "")
  palindrome = []
  words = sentence.split(' ')
  for word in words:
    word = word.lower()
    if word == word[::-1]:
      palindrome.append(word)
  return palindrome

sentence = input('Enter a sentences : ')
print(palindrome(sentence))

Enter a sentences : mom support me a lot lol rmol
['mom', 'a', 'lol']

# Age Calculator Python

In [ ]:
def ageCalculator(y, m, d):
  import datetime
  today = datetime.datetime.now().date()
  dob = datetime.date(y,m,d)
  age = int((today-dob).days/365.25)
  print('Umurmu adalah : ', age)

y = int(input("Enter Birth year : "))
m = int(input("Enter Birth month : "))
d = int(input("Enter Birth Date : "))

ageCalculator(y,m,d)

Enter Birth year : 1992
Enter Birth month : 2
Enter Birth Date : 11
Umurmu adalah :  30

# Validasi Anagram

In [1]:
def anagram(word1, word2):
  word1 = word1.lower()
  word2 = word2.lower()
  return sorted(word1) == sorted(word2)

print(anagram('nokia', 'kiano'))

True

# Segitiga Pascal

In [8]:
def printPascal(n):
  arr =[1]
  temp = []
  print('segitiga pascal', n, 'baris')
  for i in range(n):
    print('rows', i+1, end=" : ")
    for j in range(len(arr)):
      print(arr[j], end=' ')
    print()
    temp.append(1)
    for j in range(len(arr)-1):
      temp.append(arr[j]+arr[j+1])
    temp.append(1)
    arr = temp
    temp = []

n = int(input('Enter number n : '))
printPascal(n)

Enter number n : 5
segitiga pascal 5 baris
rows 1 : 1
rows 2 : 1 1
rows 3 : 1 2 1
rows 4 : 1 3 3 1
rows 5 : 1 4 6 4 1

# Diamond pattern

In [10]:
rows = int(input('Enter diamond pattern : '))
print('Diamond star')
for i in range(1, rows +1):
  for j in range(1, rows-i+1):
    print(end = ' ')
  for k in range(0, 2*i-1):
    print('*', end ='')
  print()
for i in range(1, rows):
  for j in range(1, i+1):
    print(end=' ')
  for l in range(1,(2*(rows-i))):
    print('^', end='')
  print()

Enter diamond pattern : 5
Diamond star
    *
   ***
  *****
 *******
*********
 ^^^^^^^
  ^^^^^
   ^^^
    ^

# selection sort

In [16]:
def selectionSort(List):
  for i in range(len(List)-1):
    minimum = i
    for j in range(i+1, len(List)):
      if(List[j]< List[minimum]):
        minimum = j
    if(minimum != i):
      List[i], List[minimum] = List[minimum], List[i]
  return List

if __name__ == '__main__':
  List = [4,5,2,87,11,5,1]
  print('Sorted List : ', selectionSort(List))

Sorted List :  [1, 2, 4, 5, 5, 11, 87]

# Bubble sort

In [19]:
def bubbleSort(List):
  for i in range(len(List)):
    for j in range(len(List) - 1, i, -1):
      if List[j] < List[j-1]:
        List[j], List[j-1] = List[j-1], List[j]
  return List

if __name__ == '__main__':
  List = [4,5,2,87,11,5,1]
  print('Sorted List : ', bubbleSort(List))

Sorted List :  [1, 2, 4, 5, 5, 11, 87]

# Insertion sort

In [20]:
def insertionSort(List):
  for i in range(1, len(List)):
    currentNumber = List[i]
    for j in range(i-1, -1, -1):
      if List[j] > currentNumber:
        List[j], List[j+1] = List[j+1], List[j]
      else:
        List[j+1] = currentNumber
        break
  return List

if __name__ == '__main__':
  List = [4,5,2,87,11,5,1]
  print('Sorted List : ', insertionSort(List))

Sorted List :  [1, 2, 4, 5, 5, 11, 87]

# Assign value

In [1]:
val = {'a':1, 'b':2, 'c':5, 'd':8}

val ['a'] = 2
val ['b'] = 4

print(val)

{'a': 2, 'b': 4, 'c': 5, 'd': 8}

# Fibonacchi

In [3]:
nterm = int(input('Enter term of Fibonachhi :'))
n1, n2 = 0, 1

count =0

if(nterm<=0):
  print('please enter positif number')
elif (nterm == 1):
  print(n1)
else:
  print('Fibonachi :', end=' ')
  while(count<nterm):
    print(n1, end=' ')
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count +=1

Enter term of Fibonachhi :6
Fibonachi : 0 1 1 2 3 5

# Factor numbers

In [6]:
def printFactor(x):
  print('Faktor dari',x, 'adalah :')
  for i in range(1, x+1):
    if x % i ==0:
      print(i, end=', ')

number = int(input('Enter a number Factor : '))
printFactor(number)

Enter a number Factor : 50
Faktor dari 50 adalah :
1, 2, 5, 10, 25, 50,

# Faktorial number

In [13]:
def factorial(num):
  factor = 1


  if(num<=0):
    print('factorial tidak boleh minus atau 0')
  else:
    for i in range(1, num +1):
      print(i, end="* ")
      factor = factor*i
    print(' : ',factor)

num = int(input('Enter a number : '))
factorial(num)

Enter a number : 6
1* 2* 3* 4* 5* 6*  :  720