<a href="https://colab.research.google.com/github/dindadinho93/Python-Exercise/blob/main/python_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

dt = pd.read_csv('/content/SocialNetworkAds.csv')
dt

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [8]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
 5   Status           400 non-null    object
dtypes: int64(4), object(2)
memory usage: 18.9+ KB

In [10]:
dt.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [7]:
dt['Status'] = dt['Purchased'].apply(lambda x: 'no purchased' if x==1 else 'purchased')
dt

      User ID  Gender  Age  EstimatedSalary  Purchased        Status
0    15624510    Male   19            19000          0     purchased
1    15810944    Male   35            20000          0     purchased
2    15668575  Female   26            43000          0     purchased
3    15603246  Female   27            57000          0     purchased
4    15804002    Male   19            76000          0     purchased
..        ...     ...  ...              ...        ...           ...
395  15691863  Female   46            41000          1  no purchased
396  15706071    Male   51            23000          1  no purchased
397  15654296  Female   50            20000          1  no purchased
398  15755018    Male   36            33000          0     purchased
399  15594041  Female   49            36000          1  no purchased

[400 rows x 6 columns]

In [12]:
dt['Status Kerja'] = dt['Age'].apply(lambda x: 'Pensiun' if x>56 else 'Produktif')
dt

,User ID,Gender,Age,EstimatedSalary,Purchased,Status,Ststus Kerja,Status Kerja
0,15624510,Male,19,19000,0,purchased,Produktif,Produktif
1,15810944,Male,35,20000,0,purchased,Produktif,Produktif
2,15668575,Female,26,43000,0,purchased,Produktif,Produktif
3,15603246,Female,27,57000,0,purchased,Produktif,Produktif
4,15804002,Male,19,76000,0,purchased,Produktif,Produktif
...,...,...,...,...,...,...,...,...
395,15691863,Female,46,41000,1,no purchased,Produktif,Produktif
396,15706071,Male,51,23000,1,no purchased,Produktif,Produktif
397,15654296,Female,50,20000,1,no purchased,Produktif,Produktif
398,15755018,Male,36,33000,0,purchased,Produktif,Produktif
399,15594041,Female,49,36000,1,no purchased,Produktif,Produktif

In [14]:
dt.drop(columns='Ststus Kerja', axis=1, inplace=True)
dt

,User ID,Gender,Age,EstimatedSalary,Purchased,Status,Status Kerja
0,15624510,Male,19,19000,0,purchased,Produktif
1,15810944,Male,35,20000,0,purchased,Produktif
2,15668575,Female,26,43000,0,purchased,Produktif
3,15603246,Female,27,57000,0,purchased,Produktif
4,15804002,Male,19,76000,0,purchased,Produktif
...,...,...,...,...,...,...,...
395,15691863,Female,46,41000,1,no purchased,Produktif
396,15706071,Male,51,23000,1,no purchased,Produktif
397,15654296,Female,50,20000,1,no purchased,Produktif
398,15755018,Male,36,33000,0,purchased,Produktif
399,15594041,Female,49,36000,1,no purchased,Produktif

In [27]:
dt[['Gender']].value_counts()

Gender
Female    204
Male      196
dtype: int64

In [42]:
dt.groupby('Gender').agg({'Age': 'mean'}).reset_index()

   Gender        Age
0  Female  38.411765
1    Male  36.867347

In [47]:
dt.groupby(['Gender', 'Status']).agg({'EstimatedSalary':['min', 'max', 'mean', 'median']}).reset_index()

   Gender        Status EstimatedSalary
                                    min     max          mean   median
0  Female  no purchased           20000  150000  88714.285714  96000.0
1  Female     purchased           15000  134000  61480.314961  62000.0
2    Male  no purchased           20000  150000  83424.242424  87500.0
3    Male     purchased           15000  141000  59630.769231  60500.0

In [4]:
bins =  (max(dt['Age']) - min(dt['Age']))/4
dt2 = dt.groupby(pd.cut(dt['Age'], np.arange(min(dt['Age']), max(dt['Age']+1), bins))).agg({'EstimatedSalary': 'mean'}).rename(columns={'EstimatedSalary': 'Salary'}).reset_index()
dt2.round({'Salary':2})

            Age    Salary
0  (18.0, 28.5]  58235.29
1  (28.5, 39.0]  72810.81
2  (39.0, 49.5]  70201.83
3  (49.5, 60.0]  79000.00